<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="InboundXMLRequestServiceBinding"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.180.2.219:8081/cgi-bin/jsmdirect?PEIREQUEST" binding="basicHttpBinding" bindingConfiguration="InboundXMLRequestServiceBinding" contract="WebService.InboundXMLRequestServicePortType" name="InboundXMLRequestServicePort"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
